<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org/" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragment/headFragment :: head"></div>
</head>
<body>
<input id="cafeId" type="hidden" th:value="${cafeId}">
<div th:replace="fragment/headerFragment :: header"></div>
<div id="cafe_info">
    <!-- END header -->

    <section class="site-section py-lg">
        <div class="container">
            <div class="row blog-entries">
                <div class="col-md-12 col-lg-8 main-content">

                    <!-- 타이틀 -->
                    <h1 class="mb-4">{{cafeInfo.cafe_name}}</h1>

                    <!-- 카테고리, 주소, 좋아요-->
                    <div class="post-meta">
                        <span class="category">{{cafeInfo.category}}</span>
                        <span class="mr-2">{{cafeInfo.address}}</span> &bullet;
                        <span class="ml-2"><span class="fa fa-comments"></span>{{cafeInfo.heart}}</span>
                        <input id="lon" type="hidden" v-bind:value="cafeInfo.location_x">
                        <input id="lat" type="hidden" v-bind:value="cafeInfo.location_y">
                    </div>

                    <!-- 이미지 -->
                    <div class="post-content-body">
                        <div class="row mb-5">
                            <div class="col-md-12 mb-4 element-animate">
                                <img v-bind:src="cafeInfo.img_url_01" alt="Image placeholder" class="img-fluid">
                            </div>
                            <div class="col-md-6 mb-4 element-animate">
                                <img v-bind:src="cafeInfo.img_url_02" alt="Image placeholder" class="img-fluid">
                            </div>
                            <div class="col-md-6 mb-4 element-animate">
                                <img v-bind:src="cafeInfo.img_url_03" alt="Image placeholder" class="img-fluid">
                            </div>
                        </div>
                        <p>{{cafeInfo.description}}</p>
                    </div>
                </div>

                <!-- END main-content -->

                <!-- 옆 슬라이드 영역 스터디룸 내용 -->
                <div class="col-md-12 col-lg-4 sidebar">
                    <div class="sidebar-box">
                        <h3 class="heading">I love Study</h3>
                        <div class="post-entry-sidebar">
                            <ul v-for="room in roomList">
                                <li>
                                    <a v-bind:href="'/pages/room/info/'+room.room_id">
                                        <img v-bind:src="room.img_url_01" alt="Image placeholder" class="mr-4">
                                        <div class="text">
                                            <h4>{{room.room_name}}</h4>
                                            <div class="post-meta">
                                                <span class="mr-2">{{room.price}}</span> &bullet;
                                                <span class="ml-2"><span class="fa fa-comments"></span> 3</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- END sidebar -->
            </div>
        </div>
    </section>

    <!-- 지도 적용 -->
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="mb-3 ">장소</h2>
                </div>
            </div>
            <div class="row">
                <div id="map" class="col-md-8" style="width: 100%;height:400px">
                </div>
            </div>
        </div>
    </section>
    <!-- END section -->

    <div th:replace="fragment/footerFragment :: footer"></div>

    <div th:replace="fragment/loaderFragment :: loader"></div>
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=021610cf6d97a4c0d72661c330f14fed"></script>

    <script src="/js/app/header.js"></script>
    <script src="/js/app/cafeInfo.js"></script>
</div>
</body>
</html>