<!doctype html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/" xmlns:v-bind="http://www.w3.org/1999/xhtml">

<div th:replace="fragment/headFragment :: head"></div>
<body>
<input id="roomId" type="hidden" th:value="${roomId}">
<div th:replace="fragment/headerFragment :: header"></div>

<div id="room_info">
    <!-- END header -->
    <section class="site-section py-lg">
        <div class="container">
            <div class="row blog-entries">
                <div class="col-md-12 col-lg-12 main-content">
                    <!-- 타이틀 -->
                    <h1 class="mb-4">{{roomInfo.title}}</h1>
                    <input id="roomCode" type="hidden" v-bind:value="roomInfo.room_code">
                    <!-- 카테고리, 주소, 좋아요-->
                    <div class="post-meta">
                        <span class="category">{{roomInfo.category}}</span>
                        <span class="mr-2">시간당 {{roomInfo.price}}원</span> &bullet;
                        <span class="ml-2"><span class="fa fa-comments"></span>최소{{roomInfo.min_seating}}~최대{{roomInfo.max_seating}}</span>
                    </div>

                    <!-- 이미지 -->
                    <div class="post-content-body">
                        <div class="row mb-5">
                            <div class="col-md-12 mb-4 element-animate">
                                <img v-bind:src="roomInfo.img_url_01" alt="Image placeholder" class="img-fluid">
                            </div>
                            <div class="col-md-6 mb-4 element-animate">
                                <img v-bind:src="roomInfo.img_url_02" alt="Image placeholder" class="img-fluid">
                            </div>
                            <div class="col-md-6 mb-4 element-animate">
                                <img v-bind:src="roomInfo.img_url_03" alt="Image placeholder" class="img-fluid">
                            </div>
                        </div>
                        <p>{{roomInfo.description}}</p>
                    </div>
                </div>
                <!-- END main-content -->
                <!-- 옆 슬라이드 영역 스터디룸 내용 -->
            </div>
        </div>
    </section>

    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="mb-3 ">스케쥴</h2>
                </div>
            </div>
            <div class="row">
                <div id="calendar" class="col-md-8">
                </div>
                <div id="reservation" class="col-md-8" style="display: none;">
                    인원수 :
                    <div>
                        <select v-model="personCount">
                            <option v-for="index in roomInfo.max_seating"
                                    v-if="roomInfo.min_seating <=index && index <= roomInfo.max_seating"
                                    v-bind:value="index">{{index}}</option>
                        </select>
                    </div>
                    명
                    가격 : <p>{{personCount * roomInfo.price * time}}</p>
                    <input type="button" value="예약" @click="reservation">
                    <input type="button" value="예약취소" @click="reservationCancel">
                </div>
            </div>
        </div>
    </section>
    <!-- END section -->
</div>
<div th:replace="fragment/footerFragment :: footer"></div>

<div th:replace="fragment/loaderFragment :: loader"></div>


<link rel='stylesheet' href='/css/calendar/fullcalendar.min.css'/>
<!--<script src='/js/libs/calendar/jquery.min.js'></script>-->
<script src="/js/app/header.js"></script>
<script src='/js/libs/calendar/moment.min.js'></script>
<script src='/js/libs/calendar/fullcalendar.min.js'></script>
<script src='/js/libs/calendar/ko.js'></script>
<script src="/js/app/roomInfo.js?ver=3"></script>

</body>
</html>