<!doctype html>
<html lang="en"
      xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragment/headFragment :: head"></div>
</head>
<body>
<div th:replace="fragment/headerFragment :: header"></div>
<!-- END header -->

<section class="site-section pt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="owl-carousel owl-theme home-slider" id="homeSlider">
                    <div v-for="cafe in cafeList">
                        <a v-bind:href="'/pages/cafe/info/'+cafe.id" class="a-block d-flex align-items-center height-lg"
                           v-bind:style='{ backgroundImage: "url(" + cafe.img_url_01 + ")" }'>
                            <div class="text half-to-full">
                                <div class="post-meta">
                                    <span class="category">{{cafe.category}}</span>
                                    <span class="mr-2">{{cafe.cafe_name}}</span> &bullet;
                                    <span class="ml-2"><span class="fa fa-comments"></span>{{cafe.heart}}</span>
                                </div>
                                <h3>{{cafe.title}}</h3>
                                <p>{{cafe.description}}</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END section -->

<section class="site-section py-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="mb-4">스터디룸</h2>
            </div>
        </div>

        <div class="row blog-entries" id="cafeTopList">
            <div class="col-md-12 main-content">
                <div class="row">
                    <div class="col-md-4" v-for="(cafe,index) in cafeList"
                         v-if="index >= startIdx && index < startIdx+9">
                        <a v-bind:href="'/pages/cafe/info/'+cafe.id" class="blog-entry">
                            <img v-bind:src="cafe.img_url_01" style="width: 350px;height: 260px"
                                 alt="Image placeholder">
                            <div class="blog-content-body">
                                <div class="post-meta">
                                    <span class="category">{{cafe.category}}</span>
                                    <span class="mr-2">{{cafe.cafe_name}}</span> &bullet;
                                    <span class="ml-2"><span class="fa fa-comments"></span>{{cafe.heart}}</span>
                                </div>
                                <h2>{{cafe.description}}</h2>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 text-center">
                        <nav aria-label="Page navigation" class="text-center">
                            <ul class="pagination">
                                <li class="page-item  active"><a class="page-link" @click="prevPage">Prev</a></li>
                                <li class="page-item" v-for="index in getTotalPage"
                                    v-if="startPage <= index && index <= startPage+4">
                                    <a class="page-link" @click="requestPage(index-1)">{{index}}</a>
                                </li>
                                <li class="page-item"><a class="page-link" @click="nextPage">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<div th:replace="fragment/footerFragment :: footer"></div>
<!-- END footer -->
<!-- loader -->
<div th:replace="fragment/loaderFragment :: loader"></div>

<script src="/js/app/header.js"></script>
<script src="/js/app/index.js?ver=4"></script>
</body>
</html>