<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <div id="init">
        {{message}}
    </div>

    <br>

    <div id="mouse-over">
        <h1 v-bind:title="message">
            헬로우
        </h1>
    </div>

    <div id="if-test">
        <p v-if="seen">True 일때만 표시 </p>
    </div>

    <div id="for-test">
        <p v-for="dto in list"  v-if="dto.text == '리스트 데이터 01'">
                {{dto.text}}
        </p>
    </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script type="application/javascript">

    var list = new Vue({
        el : '#for-test',
        data : {
            list : [
                {text : '리스트 데이터 01'},
                {text : '리스트 데이터 03'},
                {text : '리스트 데이터 04'},
                {text : '리스트 데이터 05'},
            ]
        }
    })

    var init = new Vue({
        el : '#init',
        data : {
            message : "Hellow Vue JS"
        }
    })

    var mouse = new Vue({
        el : '#mouse-over',
        data : {
            message : new Date() + '로드'
        }
    })

    var vif = new Vue({
        el : '#if-test',
        data :{
            seen : false
        }
    })
</script>
</html>